{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="form-container">
        <h2 class="form-title">Book Appointment with Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }}</h2>
        <form method="POST" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="form-button">Submit</button>
        </form>
    </div>
</body>
</html>