{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="homepage-container">
        <h1 class="title">Homepage</h1>
        <h1>Welcome To Hospital Dashboard!</h1>
        <div class="homepage-actions">
            <h3 class="action-heading">Already a user?</h3>
            <button><a href="{% url 'login' %}" class="form-button">Login</a></button>
            <h3 class="action-heading">Don't have an account?</h3>
            <button><a href="{% url 'register' %}" class="form-button">Signup</a></button>
        </div>
    </div>
</body>
</html>
