{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="form-container">
        <h2 class="form-title">Update Profile</h2>
        <form method="POST" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="form-button">Update Profile</button>
        </form>
    </div>
</body>
</html>
